body {
  background-color: #212121;
  background-image: url("options_background.png");
  background-attachment: scroll;
}

button {
  background-color: #FFFFFF00;
  background-image: url("button-off.png");
  background-size: cover;
  font-family: Minecraft Regular;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  background-repeat: no-repeat;
  padding: 5px 64px;
  background-position: left center;
}

button:hover {
  background-image: url("button-on.png");
}

@font-face {
    font-family: "Minecraft Ten";
    src: url(MinecraftTen.ttf) format("truetype");
}

@font-face {
    font-family: "Minecraft Regular";
    src: url(MinecraftRegular.otf) format("opentype");
}

h1 {
  font-family: Minecraft Ten;
  color: white;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
  font-family: Minecraft Regular;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
