body {
  background-color: #212121;
  background-image: url("options_background.png");
  background-attachment: scroll;
}

h1 {
  font-family: url("MinecraftTen.ttf");
  color: white;
  text-align: center;
}

p {
  font-family: url("MinecraftRegular.otf");
  font-size: 20px;
  color: white;
  text-align: center;
}
